@model Fisabrantes.Models.Consultas

@{
    ViewBag.Title = "Details";}

<h2>Detalhes</h2>

<div>
    <h4>Consultas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fisiatra.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fisiatra.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idConsulta }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
