@model IEnumerable<Fisabrantes.Models.Consultas>

@{
    ViewBag.Title = "Index";}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova Consulta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fisiatra.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fisiatra.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idConsulta }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idConsulta }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.idConsulta })
        </td>
    </tr>
}

</table>
